* {
    font-family: 'Montserrat', sans-serif;
}

.header {
    border-bottom: 1px solid #E1E1E1;
    padding: 4px 0;
}

.header img {
    border-radius: 100px;
    margin: 19px 19px;
    transition: all 0.9s;
    cursor: pointer;
    box-shadow: (10px 5px 15px 10px #75727f);
}

.header img:hover {
    -webkit-filter: drop-shadow(10px 5px 1px #f8f5ca);
    filter: drop-shadow(1px 5px 20px  #f6cce0);
}

.menu li {
    display: inline-block;
    margin: 0 15px;
}

.menu li:nth-of-type(1) {
    margin-left: 0;
}

.menu li:nth-last-of-type(1) {
    margin-right: 0;
}

.menu li a {
    color: #75727F;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    padding-bottom: 4px;

}

.menu li a:hover,
.menu li.active a {
    border-bottom: 3px solid #f6cce0;
}

.title {
    color: #75727F;
    font-weight: 700;
    font-size: 1.25rem;
}